<!DOCTYPE html>
<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
<div class="menu" th:fragment="menu">

    <div sec:authorize="hasAuthority('ROLE_USER')">
        <ul class="menu-v">
            <li><a th:href="@{/}"> <br>[[#{label.menu.mainPage}]] <br><br> </a></li>
            <li><a th:href="@{/listOfUnreported}"> <br>[[#{label.menu.listOfUnreported}]] <br><br> </a></li>
            <li><span><br>[[#{label.menu.report}]]<br><br></span>
                <ul>
                    <li><a th:href="@{/report/download}"> <br>[[#{label.menu.report.download}]]<br><br> </a></li>
                    <li><a th:href="@{/report/unload}"> <br>[[#{label.menu.report.unload}]]<br><br> </a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div sec:authorize="hasAuthority('ROLE_POWER_USER')">
        <ul class="menu-v">
            <li><span><br>[[#{label.menu.directory}]]<br><br></span>
                <ul>
                    <li><a th:href="@{/reference_book/unit}"> <br>[[#{label.menu.unit}]]<br><br> </a></li>
                    <li><a th:href="@{/reference_book/material}"> <br>[[#{label.menu.material}]]<br><br> </a></li>
                    <li><a th:href="@{/reference_book/organization}"> <br>[[#{label.menu.organization}]]<br><br> </a></li>
                    <li><a th:href="@{/reference_book/report}"> <br>[[#{label.menu.report}]]<br><br> </a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
        <ul class="menu-v">
            <li><a th:href="@{/users}"> <br>[[#{label.menu.user}]] <br><br> </a></li>
        </ul>
    </div>

    <div sec:authorize="hasAuthority('ROLE_USER')">
        <ul class="menu-v">
            <li><a th:href="@{/logout}"> <br>[[#{label.menu.logout}]] <br><br> </a></li>
        </ul>
    </div>
</div>
</body>
</html>
