<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MBM. Unit reference book page.</title>
    <link rel="stylesheet" href="../resources/css/style.css">
    <link href="resources/images/mini.jpg" rel="icon" type="image/gif"/>
</head>
<body>
<div th:replace="templates/header::MyHeader"></div>
<div id="line"></div>
<div th:replace="templates/menu::menu"></div>

<div id="center">
    <h2  th:text="#{label.unit.all}">Available units</h2><br>

    <table>
        <tr>
            <th th:text="#{label.table.number}">No</th>
            <th th:text="#{label.table.name}">Unit name</th>
        </tr>
        <th:block th:each="unit, state: ${unitList}", th:with="unitId=${unit.id}">
        <tr>
            <td th:utext="${state.count}"></td>
            <td th:utext="${unit.name}"></td>
            <td>
                <input type="button" value="Update" onclick="window.location.href = '/iacsk/reference_book/unit/saveUnit'"/>
                <input type="button" value="Delete" onclick="window.location.href = '/iacsk/reference_book/unit/deleteUnit'"/>
            </td>
        </tr>
        </th:block>
    </table>
    <br>
    <input type="button" th:value=" #{label.button.add} " onclick="window.location.href = '/iacsk/reference_book/unit/addNewUnit'"/>

</div>

<!--<div th:replace="templates/right::right"></div>-->

<div th:replace="templates/footer::footer"></div>
</body>
</html>