<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MBM. Main page.</title>
    <link rel="stylesheet" href="resources/css/style.css">
    <link href="resources/images/mini.jpg" rel="icon" type="image/gif"/>
</head>
<body>
<div th:replace="templates/header::MyHeader"></div>
<div id="line"></div>

<div th:replace="templates/menu::menu"></div>

<div id="center">
    <p2>SOME INFO IN CENTER</p2>
</div>

<!--<div th:replace="templates/right::right"></div>-->

<div th:replace="templates/footer::footer"></div>

</body>
</html>